body {
  /* background-color: black; */
  background-color: rgb(156 163 175);
}

.header {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: black;
  border-radius: 10px;
  /* margin-bottom: 10px; */

  /* justify-content: flex-start; */
  /* flex-wrap: wrap; */
}

/* .largeScreenMenu {
  display: flex;
} */

.menuList {
  /* width: 23em; */
  /* display: none; */
  list-style-type: none;
  background-color: black;
  border-radius: 0px 0px 15px 15px;
}

.menuList > ul {
  margin: 0;
  margin-top: -10px;
  padding: 10px 0px;
}

.orangeText {
  color: rgb(249 115 22);
}

.grayText {
  color: rgb(156 163 175);
}

.nameAndNumber {
  width: 100%;
  /* display: flex; */
  padding: 1rem;
  /* margin-left: auto;
  margin-right: auto; */

  @media (min-width: 700px) {
    width: 30%;
  }
}

.boldText {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

/* .hidden {
  display: none;
} */

a {
  font-size: 1.5rem;
  color: white;
}

/* i {
  float: right;
} */

.hamburgerMenu {
  width: 50%;
  @media (min-width: 700px) {
    display: none;
  }
}

.hamburgerMenu i {
  float: right;
}

li {
  color: white;
  list-style: none;
  padding: 0.5em;
}

li > a {
  text-decoration: none;
  font-size: 16px;
}

.fa {
  margin-right: 1em;
  font-size: 25px;
}

.mainContent {
  color: white;
  margin-top: 15px;
}

.nameAndNumber p {
  margin: 0;
}

.menuList ul {
  padding-left: 1em;

  @media (min-width: 700px) {
    display: flex;
  }
}

i {
  font-size: 16px;
  color: white;
  font-family: "FontAwesome" !important;
}

span {
  font-family: "FontAwesome" !important;
}

.footer {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
}

.footer ul {
  padding-top: 1em;

  padding-inline-start: 0;
}
.blackText {
  color: black;
}

.footerIcons {
  color: black;
}

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
} */

.gridContainer {
  @media (min-width: 450px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

.gridContainer div {
  padding: 5px;
}

/* .grid-container > input {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
/* .item1 {
  grid-column-start: 1;
  grid-column-end: 3;
} */

form {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  /* background-color: rgb(156 163 175); */
}

.insurersAndServices {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  text-align: center;
  padding: 10px;
}

.inputFields {
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

.submitButton {
  background-color: rgb(249 115 22);
  color: black;
}

.item5 {
  grid-column: 1 / span 2;
}

.item5 > textarea {
  width: 90%;
  height: 160px;
}

.footerAddress {
  padding: 1em;
}

.insurersAndServices h2 {
  color: rgb(249 115 22);
}

.insurersAndServices img {
  width: 90%;
}

.insurersAndServices button {
  font-size: 20px;
  background-color: rgb(249 115 22);
  color: black;
  border-radius: 10px;
  /* border-style: double;
  border-width: unset; */
  border: none;
  padding: 10px;
}

.insurersAndServices div {
  border-bottom: solid;
  border-width: 3px;
  border-radius: 30px;
  color: gray;
  padding-bottom: 5px;
}

.serviciiHomePage {
  background-color: black;
  color: rgb(249 115 22);
  text-align: center;
  border-radius: 10px;
}

.serviciiHomePage i {
  font-size: 20px;
  color: rgb(249 115 22);
}

.serviciiHomePage h2 {
  font-size: 30px;
  padding: 25px;
}

.serviciiHomePage div {
  font-size: 30px;
  padding: 35px;
  margin: 5px;
  border: 2px;

  border-color: rgb(249 115 22);
  border-left-style: dotted;
  border-right-style: dotted;
  border-radius: 100px;
}
